  <p>
    <Strong>Commenter:</Strong>
    <%= comment.commenter %>
  </p>
  <p>
    <Strong>Comment:</Strong>
    <%= comment.body %>
  </p>

  <p>
    <%= link_to 'Destroy Comment',
                [comment.article, comment],
                method: :delete,
                data: { confirm: 'Are you sure?'} %>
  </p>