<!DOCTYPE html>
<html>
  <head>
    <title>UploadFileDemo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container" style="padding-top:20px;">
      <%= yield %>
    </div>
  </body>
</html>
