    <% if @user.errors.any? %>

      <div id="error_explanation">
        <div class="alert alert-danger">
          This form contains <%= pluralize(@user.errors.count, "error") %>.
        </div>

        <ul>
          <% @user.errors.full_messages.each do |err_msg| %>
            <li><%= err_msg %></li>
          <% end %>
        </ul>
      </div>

    <% end %>